

{% comment %} {% extends 'admn/dashboard.html'%}

{% load crispy_forms_filters %} {% endcomment %}
{% comment %} {% block content %} {% endcomment %}

<div class="col-lg-10">
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title"> CUSTOMERS</strong>
        </div>
        <br>
<!--        <div class="row">-->
<!--            <div class="col-lg-6 "></div>-->
<!--            <div class="col-lg-6">-->
<!--                <form method="get" class="form-inline " style="float:right;">-->
<!--                    <div class="md-form my-0">-->
<!--                        {{scheduleFilter.form }}-->
<!--                        <button class="btn btn-primary mr-2" type="submit">Search</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">SL NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">USERNAME</th>
                    <th scope="col">CONTACT</th>
                  
                   
<!--                    <th scope="col">Update</th>-->
                    <th scope="col">DELETE</th>

                </tr>
                </thead>


                <tbody>
                {% for n in data %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>

                    <td>{{n.name}}</td>
                    <td>{{n.username}}</td>
                    <td>{{n.phone_number}}</td>
                    
<!--                    <td>-->
<!--                        <a href="#">-->
<!--                            <button type="button" class="btn btn-primary">Update</button>-->
<!--                        </a>-->
<!--                    </td>-->

                    <td>

                        <button class="delete" name="{{ n.id }}">Delete</button>
                        {% comment %} <form action="{% url 'delete-wm' n.id %}" style="display: inline;"
                              onsubmit="window.mytest()" method="post" >
                            {% csrf_token %}
                            <input type="hidden" value="{{ n.user_id }}"/>
                            <button type="submit" class="btn btn-danger waves-effect width-md waves-light">Delete
                            </button>
                        </form> {% endcomment %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7"><h3>No Results Found</h3></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% comment %} <script type="text/javascript">
window.mytest = function()
{ var isValid = confirm('Are you sure Want to Delete ?');if (!isValid) { event.preventDefault();
  }
}
</script> {% endcomment %}
