<table class="table table-bordered">
    <thead class="alert-success">
        <tr>
          <th>sl no</th>
            <th>start time</th>
            <th>end time</th>
            <th>date</th>

            <th>Enable/disable</th>

           
        </tr>
    </thead>
    <tbody>
        {% for i in read %}
        <tr>
          <td>{{forloop.counter}}
            <td>{{ i.start_time }}</td>
            <td>{{ i.end_time }}</td>
            <td>{{ i.date }}</td>
          <td>
            <button class="toggle-active-btn" data-category-id="{{ i.id }}" data-csrf-token="{{ csrf_token }}">
              {% if i.is_active %}
               Enable
              {% else %}
              Disable
              {% endif %}
            </button>
          </td>
          
           

                  
               
        {% endfor %}


    </tbody>
</table>