{% extends 'employee/base.html'%}
{% block content %}
<div class="col-lg-10">
  {% for message in messages %}
  <div class="alert alert-primary" role="alert">
      {{message}}
  </div>
  {% endfor %}
  <div class="card">
      <div class="card-header">
          <strong class="card-title">WORK APPOINTMENTS </strong>
      </div>
      <br>


      <div class="card-body">
          <table class="table table-striped">
              <thead>
              <tr>
                  <th scope="col">SI No</th>
                  <th scope="col">User</th>
                  <th scope="col">Date</th>

                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">Status</th>
                  <th scope="col">      </th>


              </tr>
              </thead>
              <tbody>
              {% for n in data %}
              <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{n.user}}</td>
                  <td>{{n.schedule.date}}</td>

                  <td>{{n.schedule.start_time}}</td>
                  <td>{{n.schedule.end_time}}</td>
                  <td>
                      {% if n.status == 0 %}
                      <button class="approve" data-id="{{ n.id }}">Approve</button>
                      {% comment %} <button type="button" class="btn btn-primary" onclick="approveAppointment({{ appointment.id }})">Approve</button> {% endcomment %}

                       {% comment %} <form action="#" method="post" style="display: inline;"
                            onsubmit="window.mytest()"> {% endcomment %}
                          {% comment %} { {% csrf_token %}
                          <input type="hidden" value="{{ n.id }}"/>
                          <button class="btn btn-danger">Reject</Button>
                      </form> {% endcomment %}
                      {% elif n.status == 1 %}

                      <button type="button" class="btn btn-success">Approved</button>

            {% comment %} {% else %}
                      <button type="button" class="btn btn-danger">Rejected</button> {% endcomment %}
                   {% endif %} 
                  {% comment %} </td>  {% endcomment %}
              </tr>
{% comment %} 
              {% empty %} {% endcomment %}
              {% comment %} <tr>
                  <td colspan="7"><h3>No Results Found</h3></td>
              </tr> {% endcomment %}
              {% endfor %}
              </tbody>
          </table>


<div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a>
                    {% endif %}
            
                    <span class="current-page">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                  {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %} 
                </span>
              </div>


      </div>
  </div>
</div>


{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}

<!-- add jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




 <script>
  
 
  

{% comment %} $(".approve").on("click", function() {
    var appointment_id = $(this).data("id");
    $.ajax({
        url:  "approve_appointment/" + appointment_id + "/",
        type: "POST",
        data: {
            id: appointment_id,
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(data) {
            // Handle success
            console.log(data.foo);
        },
        error: function(xhr, errmsg, err) {
            // Handle error
            console.log(xhr.status + ": " + xhr.responseText);
        } 
     
    });
});

$.ajax({
  url: 'Schedules',
  type: 'GET',
  success: function(response) {
    // Handle success
    console.log(response);
  },
  error: function(xhr, errmsg, err) {
    // Handle error
    console.log(xhr.status + ": " + xhr.responseText);
  } 
});
   {% endcomment %}


   {% comment %} 2222 {% endcomment %}

   {% comment %} $(".approve").on("click", function() {
    var appointment_id = $(this).data("id");
    $.ajax({
        url:  "approve_appointment/" + appointment_id + "/",
        type: "POST",
        data: {
            id: appointment_id,
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(data) {
            // Handle success of POST request
            console.log(data.foo);

            // Send GET request
            $.ajax({
                url: 'Schedules',
                type: 'GET',
                data: {
                  
                  csrfmiddlewaretoken: "{{ csrf_token }}"
              },
                success: function(response) {
                    // Handle success of GET request
                    console.log(response);
                },
                error: function(xhr, errmsg, err) {
                    // Handle error of GET request
                    console.log(xhr.status + ": " + xhr.responseText);
                } 
            });
        },
        error: function(xhr, errmsg, err) {
            // Handle error of POST request
            console.log(xhr.status + ": " + xhr.responseText);
        } 
    });
}); {% endcomment %}
{% comment %} 3333 {% endcomment %}

function sendRequests() {
  var appointment_id = $(this).data("id");
  var button = $(this);

  // Send POST request to approve_appointment endpoint
  $.ajax({
    url: "approve_appointment/" + appointment_id + "/",
    type: "POST",
    data: {
      id: appointment_id,
      csrfmiddlewaretoken: "{{ csrf_token }}"
    },
    success: function(data) {
      // Handle success
      console.log(data.foo);
       {% comment %} button.text("Approved");  {% endcomment %}
       button.removeClass('btn-primary');
       button.addClass('btn-success');
       button.text("Approved");
      
    },
    error: function(xhr, errmsg, err) {
      // Handle error
      console.log(xhr.status + ": " + xhr.responseText);
    } 
  });

  // Send GET request to Schedules endpoint
  $.ajax({
    url: "Schedules",
    type: "GET",
    success: function(response) {
      // Handle success
      console.log(response);
    },
    error: function(xhr, errmsg, err) {
      // Handle error
      console.log(xhr.status + ": " + xhr.responseText);
    } 
  });
}

$(".approve").on("click", sendRequests);

</script> 








{% endblock %}