{% extends 'employee/base.html'%}

{% block content %}

<table class="table table-bordered">
    <thead class="alert-success">
        <tr>
            <th>start time</th>
            <th>end time</th>
            <th>date</th>
            <th>Book Appointment </th>

           
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{ i.start_time }}</td>
            <td>{{ i.end_time }}</td>
            <td>{{ i.date }}</td>
            


            {% comment %} <td><center>
                <a class="btn btn-warning edit" name="{{ i.id }}">Edit</a> {% endcomment %}

              {% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                  edit
                </button> 
              
              
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ADD</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> {% endcomment %}
                     
                        {% comment %} <form class="form-inline">
                          {% csrf_token %}
                           <div class="mb-2">
                                <label>PRODUCT NAME</label>
                                <input type="text" id="name"class="form-control" style="width:30%;" required="required"/>
                            </div>     
                              
                            
                        
                         <div class="mb-3">    
                          <button type="button" id="create" class="btn btn-primary">Update</button>
                      </div> 
                  </form> {% endcomment %}

               
        {% endfor %}
    </tbody>
</table>

{% endblock %}